.Colorbox {
    display: inline-block;
    width: 50%;
    float: left;
     background: linear-gradient(151.79deg, rgba(69, 79, 125, 0.85) 0%, rgba(8, 160, 110, 0.85) 81.25%);
    flex: 1;
              }
  
.panel{
display: flex;
flex-direction: row-reverse;
align-items: stretch;
overflow: hidden;
}

  .Formbox {
    margin: auto;
    display: inline-block;
    text-align: right;

  }
  
  .Formcontrol {
    border: 0.5px solid #ddd;
    border-radius: 15px;
    width: 370px;
    height: 40px;
    justify-items: center;
    align-items: center;
    margin: 5px 0px;
  }
  
  .mb-3 {
    font-size: 16px;
    color: #555;
  }
  
  .btn-primary {
    background: rgba(8, 160, 110, 0.8);
    border-radius: 15px;
    width: 370px;
    margin: 20px;
  }
  
  .boxformation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: white;
    flex: 1;
  }
  
  .LOGOFORFORM {
    display: inline-block;
    height: 170px;
    width: 370px;
    background-color: #ddd;
    border-radius: 25px;
    margin-top: 100px;
  }
  .FOOTER{
    background-color: white;
  }



#Name{
 direction: rtl !important;
}

