.img{

    width: '100%';
}
.in1[type=text] {
    position: absolute;
    height: 50px;
    left: 700px;
    right: 520px;
    top: 639px;
    width: '100%';
    border : 1px solid #08A06E;
    background-color: #08A06E;
    border: none;
    color: white;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    padding : 10px 100px;
  }