.FOOTER{
    background: rgba(14, 18, 37, 0.8) !important;
    mix-blend-mode: normal;
    height: 300px;
    color: #fff;
    font-size: 18px;
  }
  
.footercols{
  float: right;
display: inline-block;
padding: 20px;
margin: 20px;
}