
@font-face {
  font-family: yekan;
  src: url(./BYekan+.ttf);
}

*{
  font-family: yekan;
  border: 0px;
  font-size: 20px;
}
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}

 .NAVBAR{
  font-family: yekan;
  width: 100%;
  background-color: rgba(69, 79, 125, 1.8);
 }

 ul{
list-style: none;
color: #fff;
margin: 0;
padding: 0;
overflow: hidden;

 }

 ul li{
  float:right;
  margin: 20px;
 }

.FOOTER{
  background: rgba(14, 18, 37, 0.8);
  mix-blend-mode: normal;
  height: 300px;
 color: #fff;
 font-size: 18px;
}


.footercols{
  float: right;
display: inline-block;
padding: 20px;
margin: 20px;
}

.ICONS{
  display: inline-block;
  float: lef;
  padding: 10px;
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 10px;
  margin: 15px;
}


.f-row{
  
 justify-content: center; 
display: flex;

}

.s-row{
  justify-content: center; 
  display: flex;}

.CAT-CARD{
  background-color: gray;
  display: inline-block;
  height: 310px;
  width:560px ;
  margin: 15px;
  border-radius: 20px;
}